<h3>Contador</h3>
<h4>{{contador}}</h4>

<div class="row text-center">
    <div class="col">
        <button (click)="multiplicar()" class="btn btn-primary">Multiplicar x 2</button>
        <button (click)="dividir()" class="btn btn-primary">Dividir x 2</button>
    </div>
</div>

<hr>

<div class="row text-center">
    <div class="col">
        <app-nieto [contador]="contador" (cambio)="nietoChange($event)"></app-nieto>
    </div>
</div>
