<div class="row text-center">
    <div class="col">
        <h2>Contador</h2>
        <h3>{{contadorService.contador}}</h3>
    </div>
</div>

<div class="row text-center">
    <div class="col">
        <button (click)="contadorService.incrementar()" class="btn btn-primary">Incrementar</button>
        <button (click)="contadorService.decrementar()" class="btn btn-info">Decrementar</button>
    </div>
</div>

<hr>

<div class="row text-center">
    <div class="col">
        <app-hijo-s></app-hijo-s>
    </div>
</div>

