<div class="row text-center">
    <div class="col">
        <h2>Contador</h2>
        <h3>{{contador}}</h3>
    </div>
</div>

<div class="row text-center">
    <div class="col">
        <button (click)="incrementar()" class="btn btn-primary">Incrementar</button>
        <button (click)="decrementar()" class="btn btn-info">Decrementar</button>
    </div>
</div>

<hr>

<div class="row text-center">
    <div class="col">
        <app-hijo-ngrx></app-hijo-ngrx>
    </div>
</div>

