<div class="row text-center">
  <h1>Contador + operadores - Inputs y Outputs</h1>
  <app-base-io></app-base-io>
</div>

<hr>
<hr>

<div class="row text-center">
  <h1>Contador + operadores - Service</h1>
  <app-base-s></app-base-s>
</div>

<hr>
<hr>

<div class="row text-center">
  <h1>Contador + operadores - Redux ngRx</h1>
  <app-base-ngrx></app-base-ngrx>
</div>
