<h3>Contador</h3>
<h4>{{contadorService.contador}}</h4>

<div class="row text-center">
    <div class="col">
        <button (click)="contadorService.multiplicar()" class="btn btn-primary">Multiplicar x 2</button>
        <button (click)="contadorService.dividir()" class="btn btn-primary">Dividir x 2</button>
    </div>
</div>

<hr>

<div class="row text-center">
    <div class="col">
        <app-nieto-s></app-nieto-s>
    </div>
</div>
