<h3>Contador</h3>
<h5>{{contadorService.contador}}</h5>

<div class="row">
    <div class="col">
        <button (click)="contadorService.reset()" class="btn btn-danger">Reset</button>
    </div>
</div>